<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131886039891-5cpltjgrlhf7pqhrlllj6gtal6uq09ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131886039891-5cpltjgrlhf7pqhrlllj6gtal6uq09ti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131886039891-e65kv5tn8tknvbhu4fq6bna7585ftvof.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhap-U21VT21CU_MtTPBiIJSBWWb7QmGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131886039891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGallerySunguk</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-a55cc</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-a55cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131886039891:ios:3bcc8c93be8a65d9f097a6</string>
</dict>
</plist>